.header h1 {
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
.task-input {
    outline: none;
    width: 260px;
    padding: 10px;
    margin-right: 25px;
    margin-right: 25px;
    font-size: 15px;
    color: #ccc;
    background-color: #000000;
    border: 1px solid #c89666;
    border-radius: 10px;
}
.button-add {
    width: 100px;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
}
.task {
    /* display: inline-block; */
    width: full;
    margin: 40px 0;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 20px;
}
.button {
    display: inline-block;
}
.list {
    /* display: flex; */
    background-color: #12343b;
    border: none;
    outline: none;
    color: #ccc;
    font-size: 20px;
    margin: 15px 15px 35px 10px;
}

.button-complete,
.button-delete,
.button-edit {
    border: 1px solid white;
    width: 15%;
    height: 40px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 15px;
    border-radius: 5%;
    margin-top: 15px;
    display: inline;
}
.button-complete {
    color: #ff6c6c;
    margin-right: 10px;
}
.button-delete {
    color: #e2d029;
    margin-right: 10px;
}
.button-edit {
    color: lightseagreen;
    margin-right: 10px;
}
.complete {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
}
.task-count {
    padding-top: 35px;
    color: #ccc;
}
.task-count p {
    display: block;
    padding-top: 10px;
    font-size: 15px;
}